<div id="portfolio-background">

    {{!-- Gallery hero vert partial --}}
    {{#if components.GalleryHeroVert}}
    {{> galleries/gallery-hero-vert 
        images=components.GalleryHeroVert.images 
        padding=components.GalleryHeroVert.padding 
        width=components.GalleryHeroVert.width 
        height=components.GalleryHeroVert.height}}
    {{/if}}
    
    <div id="portfolio-page">

        {{!-- Portfolio specific content --}}
        <div class="portfolio-content">
            <div class="portfolio-page">
    
                {{!-- Type intro partial --}}
                {{#if components.TypeIntro}}
                {{> sections/type-intro 
                    title=components.TypeIntro.title 
                    description=components.TypeIntro.description 
                    leftPadding=components.TypeIntro.leftPadding 
                    width=components.TypeIntro.width 
                    height=components.TypeIntro.height}}
                {{/if}}

                {{!-- Gallery grid partial --}}
                {{#if components.GalleryGrid}}
                {{> galleries/gallery-grid images=components.GalleryGrid.images}}
                {{/if}}
                
            </div>

        </div>
    </div>

    {{!-- Vertical separator --}}
    <div class="vertical-separator"></div>

    {{#if components.GalleryBanner}}
    {{> galleries/gallery-banner 
        images=components.GalleryBanner.images 
        photoEdgeLength=components.GalleryBanner.photoEdgeLength 
        barHeight=components.GalleryBanner.barHeight}}
    {{/if}}
      
</div>