/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card-header.edit-fec-header {
    margin-bottom: 16px;
}
  
mat-card-content.edit-fec-content
{ 
    display: flex !important;
    flex-direction: column;
    
}

textarea.description-box {
    min-height: 8em;
}

/* Style Angular Material input */
.mat-input-element {
    font-size: 16px; /* Redundent for now but later will be set be global*/
}


