@use '@angular/material' as mat;
@include mat.core();
//@use 'orange-gradient' as my-theme; // Import custom theme

:root {
  --base-font-family: 'MontserratVariable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  --header-font-family: 'AvenirLTPro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  
  --primary-color: #FC9B23;                   /* Brand Orange */
  --secondary-color: #000000;                 /* Black */
  --tertiary-color: rgb(237, 238, 243);                  /* Light Orange */  
  --accent-color: #ce6300;                    /* Darker Orange */
  --background-color: #0f0d13;                /* Dark Background */

  --text-color: var(--primary-color);           /* Default text color */        
  --body-text-color: #ffffff;                 /* White */
  --heading-text-color: var(--primary-color);          
  --text-hover-color: #FDCC90;                /* Lighter Orange */
  --button-outline-dark: #702d00;  
  --image-selector-accent-color: #FC9B23;     /* Brand Orange */
}

html, body {
  height: 100%;
}


body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* Card styles */
html {
  /* border-radius */
  --mdc-elevated-card-container-shape: 8px;
  --mdc-outlined-card-container-shape: 8px;

  /* width */
  --mdc-outlined-card-outline-width: 2px

  /* colors */
  --mdc-elevated-card-container-color: #424242;
  --mdc-elevated-card-container-elevation: 0px 3px 1.5px -1px rgba(0, 0, 0, .2), 0px 1px 1px 0px rgba(0, 0, 0, .14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
  --mdc-outlined-card-container-color: #424242;
  --mdc-outlined-card-outline-color: rgba(255, 255, 255, .12);
  --mdc-outlined-card-container-elevation: 0px 0px 0px 0px rgba(0, 0, 0, .2), 0px 0px 0px 0px rgba(0, 0, 0, .14), 0px 0px 0px 0px rgba(0, 0, 0, .12);
  --mat-card-subtitle-text-color: rgba(255, 255, 255, .7) 

  /* typography */
  --mat-card-title-text-font: Roboto, sans-serif;
  --mat-card-title-text-line-height: 32px;
  --mat-card-title-text-size: 20px;
  --mat-card-title-text-tracking: .0125em;
  --mat-card-title-text-weight: 500;
  --mat-card-subtitle-text-font: Roboto, sans-serif;
  --mat-card-subtitle-text-line-height: 22px;
  --mat-card-subtitle-text-size: 14px;
  --mat-card-subtitle-text-tracking: .0071428571em;
  --mat-card-subtitle-text-weight: 500
}


/* Expansion panels styles */
html {
  /* border radius */

  /* color */
  --mat-expansion-container-background-color: white;
  --mat-expansion-container-text-color: white;
  --mat-expansion-actions-divider-color: rgba(255, 255, 255, .12);
  --mat-expansion-header-hover-state-layer-color: rgba(255, 255, 255, .04);
  --mat-expansion-header-focus-state-layer-color: rgba(255, 255, 255, .04);
  --mat-expansion-header-text-color: var(--secondary-color);
  --mat-expansion-header-description-color: rgba(0, 0, 0, 0.781);;
  --mat-expansion-header-indicator-color: rgba(255, 255, 255, .7)

  /* height */
  --mat-expansion-header-collapsed-state-height: 58px;
  --mat-expansion-header-expanded-state-height: 70px
}

/* Form field styles */
html {
  /* default/primary color */
  --mat-form-field-focus-select-arrow-color: rgba(156, 39, 176, .87);
  --mat-form-field-disabled-input-text-placeholder-color: rgba(255, 255, 255, .38);
  --mat-form-field-state-layer-color: rgba(255, 255, 255, .87);
  --mat-form-field-error-text-color: #f44336;
  --mat-form-field-select-option-text-color: rgba(0, 0, 0, .87);
  --mat-form-field-select-disabled-option-text-color: rgba(0, 0, 0, .38);
  --mat-form-field-enabled-select-arrow-color: rgba(255, 255, 255, .54);
  --mat-form-field-disabled-select-arrow-color: rgba(255, 255, 255, .38);
  --mat-form-field-hover-state-layer-opacity: .15;
  --mat-form-field-focus-state-layer-opacity: .28;

/*  --- size ---
  --mat-form-field-container-height: 56px;
  --mat-form-field-filled-label-display: block;
  --mat-form-field-container-vertical-padding: 16px;
  --mat-form-field-filled-with-label-container-padding-top: 24px;
  --mat-form-field-filled-with-label-container-padding-bottom: 8px
  */
}
.mat-mdc-form-field.mat-accent {
  /* accent color */
  --mat-form-field-focus-select-arrow-color: rgba(105, 240, 174, .87)
}

.mat-mdc-form-field.mat-warn {
  /* warn color */
  --mat-form-field-focus-select-arrow-color: rgba(244, 67, 54, .87)
}


.page-editor {
  max-width: 1600px;
  min-width: 500px;
  margin: 0 auto;
}


/* ----------------- FEC component layout ---------------- */
/* FEC flex layout */
[formArrayName="components"] {
  display: flex;
  flex-direction: column;
  gap: 16px; // Adjust the gap value as needed
}


/* ------------------- FEC Card Styles ------------------- */
/* FEC card header */
mat-card-header.edit-fec-header {
  background-color: var(--accent-color);
  color: white;

  height: 3.2em;

  /* Ensures header with color appears to sit ontop of card */
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  box-shadow: 0px 0px 1.5px -1px rgba(0, 0, 0, .2), 0px 2px 1px 0px rgba(0, 0, 0, .05), 0px 4px 3px 0px rgba(0, 0, 0, .15);
  transform: scalex(1.001);
  transform-origin: center;
}

/* Default card content */
.edit-fec-content {
    display: flex !important;
    flex-direction: row;              /* Display form fields in a row */
    flex-wrap: wrap;                  /* Allow form fields to wrap to the next line */
    justify-content: flex-start;      /* Align items to the start of the container */
    gap: 16px;                        /* Add some spacing between form fields */
    margin-top: 20px;                 /* Add some space between the header and content */
}

/* Style for each form field */
.edit-fec-content > mat-form-field {
  flex: 1 1 15px;
  min-width: 125px;
  max-width: 200px;
  height: 75px;
}

/* Control the width of the description box container */
mat-form-field.description-field {
  flex: 1 1 500px; /* Allows horizontal growth */
  height: auto;
  min-width: 300px;
  max-width: 800px; /* Caps max width */
}

/* Minimum height for the description box */
mat-form-field textarea.description-box {
  min-height: 8em;
  height: auto; /* Add this line */
}

/* Image selector style */
app-image-selector {
  width: 100%; /* Full width */
  order: 1; /* Ensure it stays on its own line */
}

/* Seperation last elements from action bar */
.edit-fec-actions {
  margin-top: 20px;
}