.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.title-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.admin-panel {
  font-weight: 500;
}

.user-info {
  margin-right: 16px;
}

