<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/images/site/logo.png">

    {{!-- Preload critical fonts --}}
    <link rel="preload" href="/fonts/avenir-lt-pro-cufonfonts/AvenirLTProMedium.otf" as="font" type="font/otf" crossorigin>
    <link rel="preload" href="/fonts/Montserrat/Montserrat-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin>
    
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>
    {{> common/header }}

    {{{body}}}

    {{> common/footer }}
  </body>
</html>