<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    {{> common/header }}
    <div id="portfolio-background">

      {{!-- Gallery hero vert partial --}}
      {{> galleries/gallery-hero-vert 
        images=galleryImages 
        padding=galleryHeroVertPadding 
        width=galleryHeroVertWidth
        height=galleryHeroVertHeight}}
    

      <div id="portfolio-page">
        {{!-- Portfolio specific content --}}
        <div class="portfolio-content">
            {{{body}}}
        </div>
      </div>

      {{!-- Vertical separator --}}
      <div class="vertical-separator"></div>

      {{!-- Gallery banner partial --}}
      {{> galleries/gallery-banner 
        images=galleryImages 
        photoEdgeLength=galleryBannerPhotoEdgeLength 
        barHeight=galleryBannerBarHeight}}
      
    </div>

    {{> common/footer }}
  </body>
</html>