<mat-card>
  <mat-card-header>
    <mat-card-title>{{ componentTitle }}</mat-card-title>
  </mat-card-header>
  <mat-card-content [formGroup]="formGroup">
    <app-image-selector (selectedImage)="onImagesSelected($event)" [currentImages]="currentImages" [columns]="3"></app-image-selector>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="button" (click)="onSubmit()">
      <mat-icon>save</mat-icon> Update
    </button>
  </mat-card-actions>
</mat-card>
