.page-editor {
    padding: 16px;
  }

.edit-page-content-container {
    margin-bottom: 16px; 
}

.edit-fec-content-container {
    display: flex !important;
    flex-direction: column;
    gap: 16px; /* Distance between FECs */
}