<div class="page-editor">
    <h2>Edit Page</h2>
    <form [formGroup]="pageForm" >
        <div formArrayName="components" class="edit-fec-content-container">
            <app-edit-page [formGroup]="pageForm" [pageId]="pageId"></app-edit-page>
            <div *ngFor="let component of components.controls; let i = index" [formGroupName]="i">
                <ng-container [ngSwitch]="component.get('kind')?.value">
                    <ng-container *ngIf="component.get('data')">
                        <app-edit-gallery-hero-vert
                            *ngSwitchCase="'GalleryHeroVert'"
                            [formGroup]="asFormGroup(component.get('data'))"
                            [componentId]="component.get('data')?.get('_id')?.value">
                        </app-edit-gallery-hero-vert>
                        <app-edit-text-intro
                            *ngSwitchCase="'TypeIntro'"
                            [formGroup]="asFormGroup(component.get('data'))"
                            [componentId]="component.get('data')?.get('_id')?.value">
                        </app-edit-text-intro>
                        <app-edit-repeater-menu
                            *ngSwitchCase="'RepeaterMenu'"
                            [formGroup]="asFormGroup(component.get('data'))"
                            [componentId]="component.get('data')?.get('_id')?.value">
                        </app-edit-repeater-menu>
                        <app-edit-gallery-banner
                            *ngSwitchCase="'GalleryBanner'"
                            [formGroup]="asFormGroup(component.get('data'))"
                            [componentId]="component.get('data')?.get('_id')?.value">
                        </app-edit-gallery-banner>
                        <!-- Add cases for other component types -->
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </form>
</div>