.mat-grid-list {
    display: flex;
}

.mat-grid-tile {
    box-sizing: border-box;
}
  
.mat-grid-tile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.mat-grid-tile.selected {
    outline: 2px solid #ffa500; /* Orange outline */
}

.selected-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #ffa500;
}