<div class="repeater-menu" style="gap: {{menuCardPaddingX}}px;">
    {{#each menuCards}}
    {{> sections/menu-card 
        title=this.title 
        image=this.image 
        route=this.route 
        photoHeight=../photoHeight 
        photoWidth=../photoWidth 
        buttonTitle=this.buttonTitle}}
    {{/each}}
</div>

{{!     photoPaddingX=../photoPaddingX // TODO: Add backin or remove. currently reduncent. }}
{{!     photoPaddingY=../photoPaddingY // TODO: Add backin or remove. currently reduncent. }}