<div id="header">
    <div id="header-container">
        <div id="logo">
            <a href="/"><img src="images/site/logo.png" alt="LOGO"></a>
            <a href="/" class="logo-text">Studio Custer&nbsp;&nbsp;|&nbsp;&nbsp;Photography</a>
        </div>
        <div id="navigation">
            <ul>
                <li><a href="/personal">Personal</a></li>
                <li><a href="/news">Commercial</a></li>
                <li><a href="/news">Full Service</a></li>
                <li><a href="/news">About</a></li>
                <li><a href="/news">Contact</a></li>
                <li><a href="http://localhost:4200/" target="_blank">Admin</a></li>
            </ul>
        </div>
    </div>
</div>
