<div id="header">
    <div id="header-container">
        <div id="logo">
            <a href="/"><img src="images/logo.png" alt="LOGO" height="100" width="200"></a>
        </div>
        <div id="navigation">
            <ul>
                <li><a href="/travel">Travel</a></li>
                <li><a href="/news">News</a></li>
                <li id="reservationsLinkHeader">
                    <a href="/reservations">Reservations</a>
                </li>
                <li><a href="http://localhost:4200/" target="_blank">Admin</a></li>
                <li>
                    <a href="/checkout">
                        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" class="nav-icon checkout-icon">
                            <path d="M256.83-73Q225-73 202.5-95.67t-22.5-54.5q0-31.83 22.67-54.33t54.5-22.5q31.83 0 54.33 22.67t22.5 54.5q0 31.83-22.67 54.33T256.83-73Zm441.42 0Q666-73 644-95.67t-22-54.5q0-31.83 22.4-54.33t53.85-22.5Q731-227 753-204.33t22 54.5q0 31.83-22.25 54.33T698.25-73ZM276-682l59 142h299l54-142H276Zm-51-112h553.28q29.85 0 45.78 26Q840-742 826-714l-96.31 231.52Q719-458 696.8-442.5 674.59-427 647-427H331l-28 48h488v112H269q-57 0-82.5-46.65Q161-360.31 188-406l48-80-123-292H18v-112h166l41 96Zm110 254h299-299Z"/>
                        </svg>
                        Checkout
                    </a>
                </li>
                <li id="authItem">
                    <a href="#" id="authLink">
                        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" class="nav-icon login-icon">
                            <path d="M480.16-502Q401-502 347.5-556T294-688.5q0-78.5 53.34-131.5t132.5-53q79.16 0 132.66 52.89T666-688q0 78-53.34 132t-132.5 54ZM146-118v-143q0-35.77 18.79-65.47Q183.58-356.16 216-375q59-35 126.47-53.5Q409.93-447 479.51-447q71.49 0 138.99 18.5Q686-410 744-376q32.42 17.69 51.21 47.61Q814-298.47 814-261.05V-118H146Zm128-128h412v-10q0-4.21-2.4-7.21-2.4-3.01-6.6-3.79-40-25-91-38.5T479.5-319q-53.5 0-106 13.5T283-267q-4.25 1.43-6.62 4.42-2.38 3-2.38 6.58v10Zm206.18-384Q504-630 521-647.18q17-17.17 17-41Q538-712 520.82-729q-17.17-17-41-17Q456-746 439-728.61q-17 17.4-17 40.82 0 23.84 17.18 40.82 17.17 16.97 41 16.97Zm-.18-58Zm0 442Z"/>
                        </svg>
                        <span id="authText">Login</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
